body{
    width: 100%;
    /* height: 500px; */
    font-size: 1vw;
    /* margin: ; */
}

.head{
    text-align: center;
    color: white;
    font-size: 2em;

}
.vision{
    /* border: 1px solid red; */
    font-size: 0.5em;
    font-style: italic;
    /* margin: 0; */

}

.pgraph{
    color: white;
    /* border: 1px solid red; */
    margin-bottom: 0%;
    font-weight: bold;

}
#taskProg{
    margin:1%;
    font-weight: normal;

}

.bodyDiv .head .pgraph{
    text-shadow: 10px 20px 10px 10px black;

}

.bodyDiv{
    background: linear-gradient(to right, rgb(16, 36, 73), rgb(84, 14, 124));
    height: 100vh;
    width: 100%;

}

.inputdiv{
    width: 100%;
    height: 8%;
    padding: 10px;
    position: relative;

}

.inp{
    width: 85%;
    /* border: 2px solid red; */
    border-radius: 10px;
    
}

.highlight{

    /* border: 1px solid pink; */
    width: 60%;
    margin: 5% auto auto auto; 
}

#err{
    color: red;
    font-size: 0.9em;
    display: none;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

.erd{
    /* border: 1px solid red; */
    padding: 10px;
}

.icon{
    width: 5%;
    /* height: 100%; */
    padding: 5px;
    display: inline;
    margin-left: 1%;
    color: white ;
    background-color:rgb(84, 14, 124) ;
    border-radius: 10px;

}

.list{
    width: 100%;
    /* margin: auto; */
    text-align: center;
    /* border: 1px solid red; */
    min-height: 400px;
    overflow:scroll;
    box-shadow: 0px 30px 50px 1px rgba(0, 0, 0, 0.357);
        
}

.listed{
    height: 10%;
    display: flex;
    overflow-wrap: normal;
    margin-bottom: 2%;
}

.list-pgraph{
    text-align: left;
    width:90%;
    padding: 10px;
    margin: 0px;
    background-color: white;
    border: 1px solid green;
}

.listed-icon1,.listed-icon2{
   
    padding:10px;
    width:auto;

   
    display: inline;
    color: white;
}

.listed-icon2{
    background-color:rgb(84, 14, 124) ;

}

.listed-icon1{
   background-color:  rgb(16, 36, 73);
}

.strike{
    text-decoration: line-through;
    background: rgb(177, 175, 175);
}


.dropdown{
    background:linear-gradient(to right, red, yellow);
    color: white;
    width: 40px;
    margin: auto;
    text-align: center;
    position: relative;
    /* height: 40px; */
    /* line-height: 0px; */
    
}



.dropdowncontent{
    background-color: rgb(213, 211, 211);
    /* color: red; */
    display: none;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */

    width: 150px;
    height: auto;
    top: 100%;
    width: 100px;
    left: -30px;
}

.dropdown:hover .dropdowncontent{
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.645);
    
    
}
button{
    border: none;
    /* width: 50%; */
}

#progress{
    height:30px;
    width: 100%;
    margin: auto
}
