body{
    width: 100%;
    /* height: 500px; */
    font-size: 1vw;
    /* margin: ; */
}

.head{
    text-align: center;
    color: white;
    font-size: 2em;
}

.pgraph{
    color: white;
}

.bodyDiv .head .pgraph{
    text-shadow: 10px 20px 10px 10px black;

}

.bodyDiv{
    background: linear-gradient(to right, rgb(16, 36, 73), rgb(84, 14, 124));
    min-height: 600px;
    /* height: 100%; */
    width: 100%;
}

.inputdiv{
    background-color: white;
    margin: auto;
    width: 30%;
    height: 8%;
    display: flex;
    /* border: 1px solid yellow; */
    /* display: flex; */
     /* align-items:center; */
     padding: 5px;
     /* text-align: center; */
    position: relative;

}

.inp{
    /* border: 1px solid red; */
    width: 90%;
    border: none;
    /* height: 20px; */
    
}

.err{
    color: red;
    font-size: 0.9em;
    display: none;
    margin: 10px;
    text-align: center;
    /* width: 100%; */
}

.erd{
    position: absolute;
    top: 30px;
    /* border: 1px solid red; */
    width: 100%;
    text-align: center;

}

.icon{
    width: 10%;
    /* height: 100%; */
    padding: 5px;
    display: inline;
    margin-left: 1%;
    color: white ;
    background-color:rgb(84, 14, 124) ;
}

.list{
    width: 25%;
    margin: 2% auto;
    text-align: center;
    /* border: 1px solid red; */
    min-height: 300px;
    /* margin-bottom: 50px; */
    /* height: 70%; */
    /* padding: 15px; */
    /* overflow:scroll */
    box-shadow: 0px 30px 50px 1px rgba(0, 0, 0, 0.357);
        
}

/* .header{
    text-transform: ;
} */

.listed{
    width: 100%;
    /* border: 1px solid yellow; */
    background-color: white;
    height: 10%;
    display: flex;
    overflow-wrap: normal;
    margin-bottom: 2%;
    
}

.list-pgraph{
    text-align: left;
    width:80%;
    padding: 10px;
    margin: 0px;
    display: inline;
    border: 1px solid green;
    /* height: 100%; */
}

.listed-icon1,.listed-icon2{
   
    padding:10px;
   
    display: inline;
    color: white;
}

.listed-icon2{
    background-color:rgb(84, 14, 124) ;

}

.listed-icon1{
   background-color:  rgb(16, 36, 73);
}

.strike{
    text-decoration: line-through;
    background: rgb(177, 175, 175);
}


.dropdown{
    background:linear-gradient(to right, red, yellow);
    color: white;
    width: 40px;
    margin: auto;
    text-align: center;
    position: relative;
    /* height: 40px; */
    /* line-height: 0px; */
    
}



.dropdowncontent{
    background-color: rgb(213, 211, 211);
    /* color: red; */
    display: none;
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    /* text-align: center; */

    width: 150px;
    height: auto;
    top: 100%;
    width: 100px;
    left: -30px;
}

.dropdown:hover .dropdowncontent{
    display: block;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.645);
    
    
}

